* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 5000px;
}
a {
  text-decoration: none;
}
h1 {
  text-transform: uppercase;
}
.container {
  width: 80%;
  margin: auto;
}
.list ul {
  display: flex;
  list-style-type: none;
  gap: 14px;
}
.list ul a {
  text-transform: uppercase;
  color: white;
}
.navbar img {
  width: 50%;
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: black;
  height: 35px;
}
.portofolio {
  text-align: center;
  margin-top: 20px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  row-gap: 10px;
}
.item {
  width: 33%;
  padding: 5px;
}
.item img {
  display: flex;
  width: 100%;
}
