* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 5000px;
}
a {
  text-decoration: none;
}
h1 {
  text-transform: uppercase;
}
h5 {
  opacity: 0.6;
}
.container {
  width: 80%;
  margin: auto;
}
.list ul {
  display: flex;
  list-style-type: none;
  gap: 14px;
}
.list ul a {
  text-transform: uppercase;
  color: white;
}
.navbar img {
  width: 50%;
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: black;
  height: 35px;
  z-index: 1;
}
.portofolio {
  text-align: center;
  margin-top: 20px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  row-gap: 10px;
}
.item {
  width: 33%;
  padding: 5px;
  position: relative;
}
.item img {
  display: flex;
  width: 100%;
}

.hover {
  background-color: rgba(255, 200, 0, 0.9);

  position: absolute;
  top: 5px;
  bottom: 48px;
  left: 5px;
  right: 5px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.hover:hover {
  opacity: 1;
  cursor: pointer;
}
.header{
background-image: url(../IMG/header-bg.jpg);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-size: 100%;
background-position-y:-150px ;
color: white;
flex-direction: column;
}
.firstext{
  font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    font-family: "Roboto Slab";
text-transform: capitalize;
}
.sectext{
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  
}
button{
  height: 15%;
  width: 15%;
  color: white;
  text-transform: uppercase;
  background-color: yellow;
 border: 0; 
}